.notification {
  display: flex;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0 10px;
  margin-bottom: 10px;
  box-shadow: 0px 2px 3px 3px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  width: 430px;
  height: 50px;
  align-items: center;
  transition: .5s;

  &__hr {
    height: 80%;
    width: 5px;
    margin-left: 9px;
    border-radius: 10px;

    &_blue {
      background: #25B7D3;
    }
    &_red {
      background: #D14F4E;
    }
    &_yellow {
      background: #FFD782;
    }
    &__green {
      background: #00D26A;
    }

  }
  &__image{
    width: 20px;
    margin: 0 20px;
  }
  &__title{
    font-weight: 600;
    font-size: 16px;
    line-height: 17px;
    margin-bottom: 5px;
  }
  &__description{
    font-size: 14px;
    line-height: 15px;
    color: rgba(0, 0, 0, 0.6);
  }
  &__close {
    position: fixed;
    right: 20px;
    cursor: pointer;
  }
}
.question-buttons {
  position: fixed;
  right: 60px;
  &__button {
    line-height: 23px;
    cursor: pointer;
  }
}