@mixin pt-pb($value) {
  padding-top: $value;
  padding-bottom: $value;
}

.category {

  &__heading {
    font-weight: 600;
    font-size: 24px;
    @include pt-pb(10px)
  }

  &__title {
    & {
      @include pt-pb(10px);
      font-size: 20px;
      cursor: pointer;
    }
    &:hover {
      color: #FF5D88;
      transform: scale(1.05);
      transition: .5s;
    }
    &:not(:hover) {
      color: black;
      transform: scale(1);
      transition: .5s;
    }
    &_child {
      font-size: 16px;
      margin-left: 10px;
      @include pt-pb(5px)
    }
  }
}
@media only screen and (max-width: 1477px) {
  .category {
    &__title {
      @include pt-pb(5px);
    }
  }
}
@media only screen and (max-width: 1300px) {
  .category {
    &__heading {
      font-size: 22px;
    }
    &__title {
        font-size: 18px;
      &_child {
        font-size: 14px;
      }
    }
  }
}
@media only screen and (max-width: 1230px) {
  .category {
    &__heading {
      font-size: 20px;
    }
    &__title {
      font-size: 16px;
      &_child {
        font-size: 12px;
      }
    }
  }
}
@media only screen and (max-width: 1030px) {
  .category {
    &__heading {
      font-size: 18px;
    }
    &__title {
      font-size: 14px;
      &_child {
        font-size: 10px;
      }
    }
  }
}
@media only screen and (max-width: 650px) {
  .category {
    margin: 0 auto;
    width: 100px;
  }
}