.search {
  &{
    width: 100%;
    margin: 0 auto;
    height: 49px;
    position: relative;
    box-shadow: 4px 4px 4px rgb(0 0 0 / 25%);
  }

  &__input{
    font-size: 14pt;
    opacity: 0.8;
    width: 92.85%;
    height: 100%;
    border-radius: 4px;
  }
  &__button{
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    width: 7%;
    height: 100%;
    border-left: 1px solid rgba(0, 0, 0, 0.25);

    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      border-bottom: 1px solid rgba(0,0,0,0.6);
      background: rgba(0,0,0,0.1);
    }
  }
  &__logo{
    width: 20px;
    height: 20px;
  }
}
@media only screen and (max-width: 650px) {
  .search {
    height: 40px;
  }
}