.auth {
  margin: 0 auto;
  height: 49px;
  box-shadow: 4px 4px 4px rgb(0, 0, 0, 25%);
  margin-bottom: 20px;
  width: 99%;
  &__input {
    font-size: 14pt;
    opacity: 0.8;
    width: 100%;
    height: 100%;
    border-radius: 4px;
  }
}
@media only screen and (max-width: 540px) {
  .auth {
    margin-left: 10px;
    margin-right: 10px;
  }
}