.order-conditions{
  position: fixed;
  right: 50px;
  &__title {
    font-size: 16px;
    text-align: center;
    margin-bottom: 8px;
  }
  &__podtext {
    font-size: 13px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.6);
  }
  &__button {
    display: inline-block;
    background: #FF5D88;
    border: 0;
    margin-top: 25px;
  }

  &__info {
    display: flex;
    justify-content: space-between;
  }
}