.profile {
  margin-top: 40px;
  text-align: center;
  &__image {

  }
  &__name {
    font-size: 28px;
    font-weight: 700;
  }
  &__link {
    font-size: 20px;
    padding: 20px 0;
    cursor: pointer;
  }
}