.FAQ {
  width: 95%;
  margin: 0 auto;
  &__title {
    font-size: 24px;
    line-height: 29px;
  }
}

.FAQ-element {
  & {
    display: flex;
    position: relative;
    margin-top: 20px;
    background: #D9D9D9;
    padding: 20px 16px;
    align-items: center;

    &:hover {
      border-bottom: 1px solid black;
    }
  }
  &__title {
    font-size: 18px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.6);
  }
  &__image {
    position: absolute;
    right: 20px;
    cursor: pointer;
  }

  &__content {
    margin-top: 10px;
    display: none;
    padding-right: 20px;
  }

  &__info {
    display: block;
  }
}
@media only screen and (max-width: 690px) {
  .FAQ {
    &__title {
      font-size: 22px;
    }
  }
  .FAQ-element {
    &__title {
      font-size: 16px;
    }
  }
}
@media only screen and (max-width: 380px) {
  .FAQ {
    &__title {
      font-size: 20px;
    }
  }
  .FAQ-element {
    &__title {
      font-size: 14px;
    }
  }
}
@media only screen and (max-width: 325px) {
  .FAQ {
    &__title {
      font-size: 18px;
    }
  }
}
@media only screen and (max-width: 293px) {
  .FAQ {
    &__title {
      font-size: 16px;
    }
  }
  .FAQ-element {
    &__title {
      font-size: 12px;
    }
  }
}