.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;

  margin: 0 auto;
  max-width: 1900px;
}
@media only screen and (max-width: 950px) {
  .product-list {
    justify-content: center;
  }
}
